{% extends "core/base.html" %}



{% block content %}
    <div id="page-top" class="wide">
        <div id="user">
            <div class="row">
                {% for post in page_obj %}
                    <div class="col-12 col-md-6 col-lg-6 col-xl-4 mb-30">
                        <article class="post-container">
                            <div class="post-thumb">
                                <a href="/learning/post/{{ post.id }}"
                                   class="d-block position-relative overflow-hidden">
                                    <img src="{{ post.picture.url }}" class="img-fluid" alt="learning Post">
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="entry-header">
                                    <h3><a href="/learning/post/{{ post.slug }}">{{ post.title| truncatechars:100 }}</a>
                                    </h3>
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        
            <div class="row">
                <div class="col-12 mt-4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center mb-0">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link"
                                                         href="?tag={{ request.GET.tag }}&page={{ page_obj.previous_page_number }}"><i
                                        class="fa fa-chevron-right"
                                        aria-hidden="true"></i></a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link disabled"><i
                                        class="fa fa-chevron-right"
                                        aria-hidden="true"></i></a></li>
                            {% endif %}
                            {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active">
                                        <a class="page-link" href="?tag={{ request.GET.tag }}&page={{ i }}">{{ i }}</a>
                                        {#                                        <span>{{ i }} <span class="sr-only">(current)</span></span>#}
                                    </li>
                                {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                                    <li class="page-item"><a class="page-link" href="?tag={{ request.GET.tag }}&page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?tag={{ request.GET.tag }}&page={{ page_obj.next_page_number }}"><i
                                        class="fa fa-chevron-left"
                                        aria-hidden="true"></i></a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link disabled"><i
                                        class="fa fa-chevron-left"
                                        aria-hidden="true"></i></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}