{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <!-- Page Content -->


            <!-- Highlighs / Slideshow -->
            <div id="highlights" class="wide">


                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h1>تیتر پست هایلایت شده</h1>
                                    <hr>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                        برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
                                        جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
                                        ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <a href="#"><img class="" src="{% static "core/images/0001.jpg" %}" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h1>تیتر پست هایلایت شده 2</h1>
                                    <hr>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                        برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
                                        جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
                                        ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <a href="#"><img class="" src="{% static "core/images/0002.jpg" %}" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="next-prev">
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

            </div>

            <!-- Services -->
            <div id="services" class="wide2">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- خدمات هایلایت شده -->
                        <div class="row services-highlight">
                            <div class="col-5">
                                <a href="#"><h1>ویزای کاری</h1></a>
                                <a href="#"><img class="" src="{% static "core/images/0001.jpg" %}" alt=""></a>
                            </div>
                            <div class="col-7">
                                <p>توضیحات خدمات توضیحات خدمات توضیحات خدمات توضیحات خدمات توضیحات خدمات توضیحات خدمات
                                    توضیحات خدمات توضیحات خدمات </p>
                            </div>
                        </div>
                        <div class="row services-highlight">
                            <div class="col-5">
                                <a href="#"><h1>ارسال رزومه</h1></a>
                                <a href="#"><img class="" src="{% static "core/images/0002.jpg" %}" alt=""></a>
                            </div>
                            <div class="col-7">
                                <p>توضیحات خدمات توضیحات خدمات توضیحات خدمات توضیحات خدمات توضیحات خدمات توضیحات خدمات
                                    توضیحات خدمات توضیحات خدمات </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-latest">
                            <div class="services-single">
                                <a href="#"><h1>ارسال رزومه</h1></a>
                                <a href="#"><img class="" src="{% static "core/images/0001.jpg" %}" alt=""></a>
                            </div>
                            <div class="services-single">
                                <a href="#"><h1>ارسال رزومه</h1></a>
                                <a href="#"><img class="" src="{% static "core/images/0001.jpg" %}" alt=""></a>
                            </div>
                            <div class="services-single">
                                <a href="#"><h1>ارسال رزومه</h1></a>
                                <a href="#"><img class="" src="{% static "core/images/0001.jpg" %}" alt=""></a>
                            </div>
                            <div class="services-single">
                                <a href="#"><h1>ارسال رزومه</h1></a>
                                <a href="#"><img class="" src="{% static "core/images/0001.jpg" %}" alt=""></a>
                            </div>
                            <div class="services-single">
                                <a href="#"><h1>ارسال رزومه</h1></a>
                                <a href="#"><img class="" src="{% static "core/images/0001.jpg" %}" alt=""></a>
                            </div>
                            <div class="services-single">
                                <a href="#"><h1>ارسال رزومه</h1></a>
                                <a href="#"><img class="" src="{% static "core/images/0001.jpg" %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Events -->
            <div id="events" class="wide">
                <div class="row events-highlight">
                    <div class="col-lg-6">
                        <div class="events-highlight-single">
                            <div class="event-highlight-date">
                                <a href="#">22<br>آبان</a>
                            </div>
                            <div class="event-highlight-desc">
                                <p>
                                    توضیحات رویداد توضیحات رویداد توضیحات رویداد توضیحات رویداد توضیحات رویداد توضیحات
                                    رویداد توضیحات رویداد توضیحات
                                </p>
                            </div>
                        </div>
                        <div class="events-highlight-single">
                            <div class="event-highlight-date">
                                <a href="#">22<br>آذر</a>
                            </div>
                            <div class="event-highlight-desc">
                                <p>
                                    توضیحات رویداد توضیحات رویداد توضیحات رویداد توضیحات رویداد توضیحات رویداد توضیحات
                                    رویداد توضیحات رویداد توضیحات
                                </p>
                            </div>
                        </div>
                        <div class="events-highlight-single">
                            <div class="event-highlight-date">
                                <a href="#">22<br>دی</a>
                            </div>
                            <div class="event-highlight-desc">
                                <p>
                                    توضیحات رویداد توضیحات رویداد توضیحات رویداد توضیحات رویداد توضیحات رویداد توضیحات
                                    رویداد توضیحات رویداد توضیحات
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 video-highlight">
                        <!-- Video Player -->
                        <!--
                        <video width="100%" height="auto" controls>
                            <source src="movie.mp4" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                            Your browser does not support the video tag.
                        </video>
                        -->
                        <!-- FOR FUN !! :) -->
                        <div id="73832804035">
                            <script type="text/JavaScript"
                                    src="https://www.aparat.com/embed/2QjXp?data[rnddiv]=73832804035&data[responsive]=yes"></script>
                        </div>
                    </div>
                </div>
            </div>

{% endblock content %}